.centrado {
width: 500;
margin-left:auto;
margin-right:auto;
margin-top: 5%;
}

.botones{
    align-self: center;
    align-items: center;
    text-align: center;
}

.botones > img{
    float: left;
}